<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevCore"
        tools:targetApi="31">

        <!-- Splash Activity - Pantalla de inicio -->
        <activity
            android:name="com.devcore.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DevCore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name="com.devcore.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

        <!-- Register Activity -->
        <activity
            android:name="com.devcore.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

        <!-- Pending Activity -->
        <activity
            android:name="com.devcore.PendingActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

        <!-- Home Activity -->
        <activity
            android:name="com.devcore.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

        <!-- Bus Tracking Activity -->
        <activity
            android:name="com.devcore.BusTrackingActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

        <!-- Profile Activity -->
        <activity
            android:name="com.devcore.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

        <!-- Marketplace Activity -->
        <activity
            android:name="com.devcore.MarketplaceActivity"
            android:exported="false"
            android:theme="@style/Theme.DevCore" />

    </application>

</manifest>
